.container {
    padding: 1.5rem;
}

@media (min-width: 48rem) {
    .container {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

@media (min-width: 90rem) {
    .container {
        padding-top: 3.5rem;
    }
}