.header {
    background-color: #121212;
    padding: 2rem 1.5rem;
    border-bottom: 1px solid rgb(255 255 255 / .14);

}

.navbar {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;

    position: relative;
    z-index: 999;
}

.mobileNav {
    width: 100%;
    min-height: 46.875rem;
    background-color: var(--pure-white);
    position: fixed;
    z-index: 98;
    top: 5.75rem;
    left: -50rem;
    transition: .5s ease-in-out;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}


.mobileNav.active {
    left: 0;

}

.mobileNav button {
    width: 100%;
}

.mobileNavWrapper {
    position: relative;
    height: inherit;

    display: flex;
    flex-direction: column;
}


.mobileLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;

    padding-bottom: 1.25rem;
}



.mobileLink {
    color: var(--pure-black);
    font-family: 'DMSansBold';
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .156rem;
    line-height: normal;
}


.logoImg {
    object-fit: contain;
}


.navbar li {
    list-style: none;
}

.iconChartButton {
    background-color: transparent;
    border: none;
}

.iconChart {
    object-fit: contain;
}

.iconChart:hover {
    cursor: pointer;
}

/* Hamburger menu */
.hamburger {
    position: relative;
    display: block;
    width: 1rem;
    appearance: none;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    z-index: 99;
}

.bar,
.hamburger::after,
.hamburger::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--pure-white);
    margin: 4px 0;
    transition: .5s;
}

.hamburger.isActive:before {
    transform: rotate(-45deg) translate(-6px, 4px);
    background-color: var(--pure-white);

}

.hamburger.isActive .bar {
    opacity: 0;
}

.hamburger.isActive:after {
    background-color: var(--pure-white);
    transform: rotate(45deg) translate(-6px, -4px);
}

.logoAndBurgerWrapper {
    display: flex;
    justify-content: space-between;
    gap: 2.625rem;
}


@media (min-width: 768px) {

    .header {

        padding: 2rem 2.4375rem;
    }

    .navbar {
        display: grid;
        grid-template-columns: min-content max-content 1fr;
        gap: 2.625rem;
    }

    .navLink {
        display: flex;
        gap: 2.125rem;
    }

    .link {
        font-size: 0.8125rem;
        line-height: 1.5625rem;
        font-family: 'ManropeBold';
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.125rem;
        color: var(--pure-white);
    }

    .link:hover {
        color: var(--primary-color);
    }

    .iconChartWrapper {
        display: flex;
        justify-self: end;
    }

    .mobileNav {
        left: -100rem;
    }

}


@media (min-width: 1440px) {

    .header {
        padding-left: 5rem;
        padding-right: 5rem;
        padding-bottom: 2.25rem;
    }

    .navbar {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'logo navLink iconChartWrapper';
    }

    .logo {
        grid-area: logo;
    }

    .navLink {
        grid-area: navLink;
    }

    .iconChartWrapper {
        grid-area: iconChartWrapper;
    }

    .hamburger {
        display: none;
    }

    .mobileNav {
        display: none;
    }

}