:root {
    /* Colors */
    --primary-color: #D87D4A;
    --lighter-primary-color: #fbaf85;

    --pure-white: #ffffff;
    --pure-black: #000000;
    --light-black: #101010;

    --grey: #F1F1F1;
    --light-grey: #FAFAFA;

    /* Breakpoints */
    --desktop: 1440px;
    --laptop: 1040px;
    --tablet: 768px;
    --mobile: 375px;

    /* Fonts size */
    --heading-900: 2.25rem;
    --body-500: 0.938rem;

    --line-height-heading-900: 2.5rem;
    --line-height-body-500: 1.5625rem;

    --letter-spacing-heading-900: 0.0806rem;


    /* Padding */
    --sidePadding: 1.5rem;
}

@media screen and (min-width: 768px) {
    :root {
        /* Fonts size */
        --heading-900: 3.5rem;
        --body-500: 0.938rem;

        --line-height-heading-900: 3.625rem;
        --line-height-body-500: 1.5625rem;

        --letter-spacing-heading-900: 0.125rem;

    }
}


@media screen and (min-width: 1440px) {
    :root {
        /* Fonts size */
        --heading-900: 3.5rem;
        --body-500: 0.938rem;

        --line-height-heading-900: 3.625rem;
        --line-height-body-500: 1.5625rem;

        --letter-spacing-heading-900: 0.125rem;

    }


}



/* Font-family */
@font-face {
    font-family: ManropeRegular;
    src: url('../public/fonts/Manrope/Manrope-Regular.ttf');
}

@font-face {
    font-family: ManropeBold;
    src: url('../public/fonts/Manrope/Manrope-Bold.ttf');
}

@font-face {
    font-family: ManropeMedium;
    src: url('../public/fonts/Manrope/Manrope-Medium.ttf');
}



* {
    margin: 0;
    padding: 0;
    /* box-sizing: inherit; */
}



html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body {
    scroll-behavior: smooth;
    font-size: var(--body-500);
    line-height: var(--line-height-body-500);
    background-color: var(--pure-white);
    font-family: 'ManropeMedium';

}

img {
    max-width: 100%;
    display: block
}

/* Titles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'ManropeBold';
}



/* Button */
a.primary-link,
a.secondary-link,
button.primary-link,
button.secondary-link {
    display: flex;
    justify-content: center;
    padding: 0.9375rem 1.9063rem;
    background-color: transparent;
    cursor: pointer;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'ManropeBold';
    font-size: 0.8125rem;
    line-height: normal;
    position: relative;
}

a.primary-link,
button.primary-link {
    color: var(--pure-white);
    background-color: var(--primary-color);
}

a.primary-link:hover,
button.primary-link:hover {
    background-color: var(--lighter-primary-color);
}

a.secondary-link,
button.secondary-link {
    color: var(--pure-black);
    /* background-color: var(--pure-white); */
    border: 1px solid var(--pure-black);
}

a.secondary-link:hover,
button.secondary-link:hover {
    color: var(--pure-white);
    background-color: var(--pure-black);
}

a.tertiary-link,
button.tertiary-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8325rem;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.8125rem;
    font-family: 'ManropeBold';
    color: var(--pure-black);
    text-decoration: none;
    opacity: .5;

}

a.tertiary-link::after,
button.tertiary-link::after {
    content: '';
    display: inline-block;
    width: 1rem;
    height: .75rem;
}

a.tertiary-link::after,
button.tertiary-link::after {
    background: url('../public/images/shared/desktop/icon-arrow-right.svg') no-repeat;
}

a.tertiary-link:hover,
button.tertiary-link:hover {
    color: var(--primary-color);
}



.cart-container {
    max-width: 90rem;
    padding: 0 10rem;
}

/* .overlay-burger-menu {
    width: 100%;
    height: 100%;
    left: -100%;
    position: fixed;
    background-color: rgb(35, 31, 31, .6);
    z-index: 30;
    overflow-y: hidden;
    transition: .4s ease-in-out;

}

.overlay-burger-menu.isActive {
    left: 0;
} */
#popup-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgb(0, 0, 0, .6);
    z-index: 999;
}

.checkout-page {
    background-color: var(--grey);
}

/* UTILS */

.display-none {
    display: none !important;
}

.d-flex {
    display: flex;
}

.f-col {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-self-start {
    justify-self: flex-start;
}

.bottom-minus-2 {
    bottom: -2rem;
}

.top-minus-2 {
    top: -2rem;

}

.flex-grow-2 {
    flex-grow: 2;
}

.mb-4 {
    margin-bottom: 4rem;
}

.p-0 {
    padding: 0 !important;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pr-1 {
    padding-right: 1rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.gap-3 {
    gap: 3rem;
}

.gap-4 {
    gap: 4rem;
}

.gap-5 {
    gap: 5rem;
}

.gap-05 {
    gap: .5rem
}

.min-width-max-content {

    min-width: max-content;
}


.overflow-y-hidden {
    overflow-y: hidden;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.h-100 {
    min-height: 100svh;
}


.min-height-fit-content {
    min-height: fit-content;
}

.bg-color-grey {
    background-color: var(--grey);
}


/* Media queries */

@media screen and (min-width: 768px) {
    .max-width {
        max-width: 69.375rem;
        margin-inline: auto;
    }
}

@media screen and (min-width: 1440px) {
    .max-width {
        /* max-width: 90rem; */
        max-width: 69.375rem;
        margin-inline: auto;
    }




}


/* Scrollbar for chrome */
::-webkit-scrollbar {
    width: .75rem;
}

::-webkit-scrollbar-track {
    border-radius: .5rem;
    background-color: var(--lightGrey);
    border: 1px solid #cacaca;
    margin-block: .1em;

}

::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #A0A0A0;
}